body, html {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 70px;
    margin-top: 0;
}

#score, #rules {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    background: red;
    height: 100vh;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none!important;
}

#again {
    text-align: center;
    width: 20%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#you {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    width: 70%;
}
#you #papel, #you #pedra, #you #tesoura, #you #ia {
}
#you .choice {
    text-align: center;
    width: 32%;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.choice {
    margin: 20px;
    cursor: pointer;
}

#result {
    text-align: center;
    padding: 30px;
}