body, html {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 70px;
    margin: 10px;
}

.logo {
    color: hsl(229, 25%, 31%);
    text-shadow: 0px 0px 18px white;
    font-weight: 800;
}

#score, #rules {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rules {
    justify-content: flex-end;
    width: 100%;
}

#score {
    color: white;
    width: 80%;
    border: 2px solid #EEE;
    justify-content: space-between;
    font-size: 30px;
}

#score .logo, #score .games {
    padding: 0 40px;
}

.score, .games {
    text-align: center;
}

.games span {
    font-size: 50px;
}

#app {
    background: hsl(229, 25%, 31%);
    height: 100vh;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.hide {
    display: none!important;
}

#again {
    text-align: center;
    width: 20%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#result {
    text-align: center;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    box-sizing: border-box;
    background: hsl(229, 25%, 31%);
    border: 1px solid #EEE;
    color: white;
    transition: .3s;
    cursor: pointer;
}
button:hover {
    background: white;
    color: hsl(229, 25%, 31%);
    transition: .3s;
}

#rules button {
    width: 200px;
    padding: 12px;
    margin-right: 50px;
}

#you {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50vh;
    width: 70%;
}

#you #papel .paper, #you #pedra .rock, #you #tesoura .scissor {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

#you #ia .paper, #you #ia .rock, #you #ia .scissor {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.paper {
    background-color: hsl(230, 89%, 62%);
}
.rock {
    background-color: hsl(349, 71%, 52%);
}
.scissor {
    background-color: hsl(39, 89%, 49%);
}

#you #papel span, #you #pedra span, #you #tesoura span, #you #ia span {
    background-color: #EEE;
    height: 165px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
#you .choice {
    text-align: center;
    width: 32%;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.choice {
    margin: 20px;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #23283b;
    margin: 8% auto;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .modal-content img {
      width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    text-align: right;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

